@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@font-face {
    font-family: 'Open Sans';
    src: url();
    font-weight: normal;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans' !important; 
}

.disc-heading{
    padding: 5px 8px;
    margin-right: 10px;
}
.wrapper{
    height: 100%;
}

.disc-topic-background{
    display: flex;
    height: 85%;
    margin-right: 42px;
    margin-left: 42px;
    background-color: #efefef;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); 

}

.disc-background{
    display: flex;
    height: 85%;
    margin-right: 42px;
    margin-left: 42px;
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); 

}

.display-posts {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
   
}

.display-post-title{
    color: #5E81F4;
    padding: 5px 8px;
}
.display-post-wrapper{
    border-bottom: 1px solid #d6d6d6;
}
.display-post-wrapper:hover{
    opacity: 0.7;
}

.display-post-description{
    padding: 5px 8px;
}
.display-single-post {
    height: 100%;
    max-width: 100%;
    min-width: 400px;
    margin: auto;
    background-color: #DFE5EB;
}
.display-single-post-header-board {
    background-color: #bfc4c7;
    display: block;
    margin: auto;
    border-radius: 25px;
    cursor: pointer;
}


.display-single-post-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: normal;
    max-width: 99.5%;
    border-bottom: 1.5px solid #D9D9D9;
   
}


.post-title{
    margin-top: 10px;
    padding: 5px 8px;
    font-weight: 900;
    font-size: larger;
    
    
}
.post-reply-title{
    padding: 5px 8px;
    font-weight: 900;
    font-size: larger;
    
}

.post-single-post-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.post-single-post {    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ffffff;
}

.post-background{
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); 

}


.post-description{
    padding: 5px 8px;
    border-bottom: 1px solid #AAB8C6;
   
}
.post-user-replies{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5px;
    padding: 8px 2px;
    border-left: 1px solid #AAB8C6;
    font-weight: 900;
    
}

.display-single-post-replies {
    display: block;
    margin: auto;
    border-radius: 25px;
    width: 90%;
    min-width: 400px;
}

.display-single-post-spacer {
    height: 20px;
    min-width: 400px;
}



.disc-heading{
    margin: 20px;
}
.disc-title{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 42px;
    margin-left: 42px;
    align-content: center;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    background-color: #9BA4AD;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); 
}


.button-box{
    display: flex;
    background-color: #AAB8C6;
    border-radius: 0px 0px 15px 15px;
 
}


#replyBox {
    display: flex;
    flex-direction: column;
    margin: 1px;
    width: 100%;
    
}

#replyField {
    display: flex;
    padding: 5px 10px;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #9BA4AD;
    resize: none;
    padding: 5px;
    
}

#replyButton {
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 30px;
    font-size: medium;
    font-weight: 600;
    background-color: #BFC4C7;
    border-radius: 20px;
   
}

#replyButton:hover{
    opacity: 0.7;
}
#backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 42px;
    margin-top: 16px;
    height: 30px;
    width: 110px;
    font-weight: 600;
    background-color: #9BA4AD;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); 
}
#createButton {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 42px;
    margin-top: 16px;
    font-weight: 600;
    height: 30px;
    width: 110px;
    background-color: #9ba4ad;
    border-radius: 25px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); 
}

#titleField {
    margin-left: 10px;
    padding: 5px 10px;
    height: 40px;
    width: 98%;
    border-radius: 10px;
    resize: none;
    padding: 5px;
}

#descField {
    margin-left: 10px;
    padding: 5px 10px;
    height: 400px;
    width: 98%;
    border-radius: 10px;
    resize: none;
}


@media screen and (max-width: 720px) {
    #titleField {
        padding: 5px 10px;
        height: 40px;
        width: 68%;
        border-radius: 10px;
        resize: none;
        padding: 5px;
    }

    #descField {
        margin-left: 10px;
        padding: 5px 10px;
        height: 400px;
        width: 68%;
        border-radius: 10px;
        resize: none;
    }

    .buttonsls {
        margin: auto;
        margin-right: 20%;
    }

}
