.StudentLoginHeader {
    text-align: center;
}
.TopDiv {
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 114, 80);
}

.Bottomdiv {
    background-color: rgb(135, 150, 120) !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.ButtonAdmin {
    text-align: center;
}

.StudentLoginHeader {
    position: relative;
    bottom: 231px;
    left: 339px;
}

#togglePassword {
    position: realtive;
    top: 0px;
    left: 0px;
}
